@media (max-width: 743px) {

    /* Header for mobile version */
    header {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 743px;
        width: 100%;
        height: 65px;
        padding: 0 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        z-index: 1;
    }

    .logo {
        height: 19px;
        width: 72px;
    }

    nav,
    .action-btn {
        display: none;
    }

    .burger-menu {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger-lines {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .burger-line {
        width: 15.3px;
        border: 1px solid white;
    }

    .burger-line:nth-child(2) {
        margin: 4px 0;
    }

    /* HERO section */

    .medium-section {
        height: auto;
        width: 100%;
        max-width: 1440px;
        position: relative;
        top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .medium-title {
        width: 327px;
        font-family: 'Inter';
        font-size: 40px;
        font-weight: 900;
        line-height: 48.5px;
        letter-spacing: -1px;
        text-align: center;
    }

    .medium-p {
        width: 327px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin: 24px auto;
        text-align: center;
    }

    .btn-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action-medium {
        height: 40px;
        width: 90px;
        border: none;
        border-radius: 32px;
        padding: auto 24px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        font-family: 'Inter';
        color: white;
        background-color: black;
        margin-bottom: 16px;
    }

    .under-action-txt {
        width: 327px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        text-align: center;
    }

    .medium-section img {
        width: 327px;
        max-width: 696px;
        height: 309px;
        border-radius: 12px;
        margin: 24px 0 21px 0;
    }

    /* Features section */

    .features {
        position: relative;
        top: 65px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F3F3F3;
    }

    .feature-box {
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;

    }

    .feature-ttl {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .feature-profile-photo {
        height: 40px;
        width: 40px;
        background-color: black;
        border-radius: 50%;
        margin: 0 16px 10px 0;
    }

    .feature-box-title {
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: black;
        text-align: center;

    }

    .feature-txt {
        width: 327px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        text-align: center;
    }

    /* Headline Section */

    .headline {
        width: 100%;
        top: 65px;
        left: 0;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        padding: 24px 0;
    }

    .headline>img {
        height: auto;
        width: 92%;
        max-width: 696px;
        border-radius: 12px;
        margin-bottom: 14px;
    }

    .headline-txt-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .headline-title {
        width: 327px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.1px;
        text-align: center;

    }

    .headline-paragraph {
        width: 327px;
        height: 72px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;
        margin: 14px 0;
    }

    .headline-list {
        width: 327px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;
        list-style-type: disc;
    }

    .headline-list-item {}

    /* testimonial Section */
    .testimonials {
        width: 100%;
        top: 65px;
        left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }

    .testimonial-box {
        display: none;
    }

    .testimonial-box:nth-child(1) {
        width: 327px;
        display: flex;
        flex-direction: column;
        background-color: #f3f3f3;
        padding: 24px;
    }

    .testimonial-txt {
        width: 279px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .testimonial-profile-p {
        height: 64px;
        width: 64px;
        margin: 56px 0 16px 0;
    }

    .testimonial-name {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .description {
        display: flex;
        flex-direction: row;
    }

    .description-txt {
        width: 127.25px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin-right: 103px;
    }

    .fb-icon {
        height: 16px;
        width: 16px;
        margin-right: 16px;
    }

    .twitter-icon {
        height: 16px;
        width: 13px;
    }

    /* Hero Section */

    .hero-action {
        position: relative;
        top: 65px;
        left: 0;
        background-image: url(..//pic/Action--375px_MOB.jpg);
        background-size: cover;
        width: 100%;
        max-width: 743px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-action::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        width: 100%;
        max-width: 743px;
        height: 500px;
        background-color: rgba(255, 255, 255, 0.199);
    }

    .hero-action-text-wrapper {
        height: 232px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .tagline{
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

    .hero-action-title {
        width: 247px;
        font-family: 'Inter';
        font-size: 28px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: -0.5px;
        text-align: center;   
    }

    .hero-action-btn {
        height: 40px;
        width: 84px;
        border-radius: 24px;
        border: none;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        background-color: white;
        cursor:pointer;
    }

    /* FOOTER */
    footer {
        position: relative;
        top: 65px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        width:100%;
        max-width: 744px;
        height: auto;
        color:white;
        background-color: black;
        padding: 50px 30px;
    }
    .footer-img {
        width: 87px;
        height: 27px;
        align-self: center;
        margin-bottom: 25px;
    }
    .footer-columns {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
        column-gap: 5%;
        margin-bottom: 25px;
    }
    .list {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .column-title {
        height: 48px;
        width: 70px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;  
    }

    .footer-list-item {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;  
        margin: 8px 0;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .subscribe-title {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
    }

    .subscribe form{
        position: relative;
        align-self: center;
    }

    .subscribe input{
        height: 48px;
        width: 315px;
        border-radius: 40px;
        border: none;
        background-color: rgba(255, 255, 255, 0.227);
        padding: 12px 24px;
        margin: 24px 20px;
    }

    .submit-btn {
        position: absolute;
        top: 44px;
        right: 45px;
        width: 13px;
        height: 11px;
    }

    .submit-btn:hover{
        top: 38px;
        right: 35px;
        width: 25px;
        height: 20px;
    }
    .subscribe-text {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color:rgba(255, 255, 255, 0.551);  
    }


}


/* **************************************** */
/* **************************************** */
/* **************************************** */

@media (min-width: 744px) and (max-width: 1023px) {

    /* Header for TAB mobile version */
    header {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 1440px;
        width: 100%;
        height: 65px;
        padding: 0 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        z-index: 1;
    }

    .logo {
        height: 27px;
        width: 101px;
    }

    nav {
        width: 320px;
        height: 20px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu_item-link {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 0.1px;
        font-weight: 500;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .action-btn {
        height: 48px;
        width: 100px;
        border: none;
        border-radius: 32px;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        font-family: 'Inter';
        color: white;
        background-color: black;
    }

    /* HERO section */

    .medium-section {
        height: auto;
        width: 100%;
        max-width: 1440px;
        position: relative;
        top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    .medium-title {
        font-family: 'Inter';
        font-size: 40px;
        font-weight: 900;
        line-height: 48.5px;
        letter-spacing: -1px;
        text-align: center;
    }

    .medium-p {
        width: 696px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin: 24px auto;
        text-align: center;
    }

    .btn-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action-medium {
        height: 40px;
        width: 90px;
        border: none;
        border-radius: 32px;
        padding: auto 24px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        font-family: 'Inter';
        color: white;
        background-color: black;
        margin-bottom: 16px;
    }

    .under-action-txt {
        width: 696px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        text-align: center;
    }

    .medium-section img {
        width: 696px;
        height: 499px;
        border-radius: 12px;
        margin: 24px 0 21px 0;
    }

    /* Features section */

    .features {
        position: relative;
        width: 100%;
        top: 65px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F3F3F3;
    }

    .feature-box {
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
    }

    .feature-ttl {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .feature-profile-photo {
        height: 40px;
        width: 40px;
        background-color: black;
        border-radius: 50%;
        margin: 0 16px 10px 0;
    }

    .feature-box-title {
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: black;
        text-align: center;

    }

    .feature-txt {
        width: 744px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        text-align: center;
    }

    /* Headline Section */

    .headline {
        width: 100%;
        top: 65px;
        left: 0;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        padding: 24px 0;
    }

    .headline>img {
        height: 550px;
        width: 92%;
        max-width: 696px;
        border-radius: 12px;
        margin-bottom: 29px;
    }

    .headline-txt-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .headline-title {
        width: 696px;
        font-family: 'Inter';
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.1px;
        text-align: center;

    }

    .headline-paragraph {
        width: 696px;
        height: 72px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;
        margin: 29px 0;
    }

    .headline-list {
        width: 696px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;
        list-style-type: disc;
    }

    /* testimonial Section */

    .testimonials {
        width: 100%;
        top: 65px;
        left: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        align-items: center;
        justify-content: center;
        padding: 30px 24px;
    }

    .testimonial-box {
        width: 340px;
        display: flex;
        flex-direction: column;
        background-color: #f3f3f3;
        padding: 24px;
    }

    .testimonial-box:nth-child(3) {
        display: none;
    }

    .testimonial-txt {
        width: 292px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .testimonial-profile-p {
        height: 64px;
        width: 64px;
        margin: 56px 0 16px 0;
    }

    .testimonial-name {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .description {
        display: flex;
        flex-direction: row;
    }

    .description-txt {
        width: 127.25px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin-right: 103px;
    }

    .fb-icon {
        height: 16px;
        width: 16px;
        margin-right: 16px;
    }

    .twitter-icon {
        height: 16px;
        width: 13px;
    }

    /* Hero Section */

    .hero-action {
        position: relative;
        top: 65px;
        left: 0;
        background-image: url(..//pic/Action--744px_TABLET.jpg);
        background-size: cover;
        width: 100%;
        max-width: 1024px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-action::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 1024px;
        height: 500px;
        background-color: rgba(255, 255, 255, 0.199);
    }

    .hero-action-text-wrapper {
        height: 184px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .tagline{
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

    .hero-action-title {
        width: 700px;
        font-family: 'Inter';
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: -0.5px;
        text-align: center;   
    }

    .hero-action-btn {
        height: 40px;
        width: 84px;
        border-radius: 24px;
        border: none;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        background-color: white;
    }

        /* FOOTER */

    footer {
        position: relative;
        display:flex;
        flex-direction: row;
        justify-items: flex-start;
        top: 65px;
        left: 0;
        height:242px;
        width: 100%;
        padding: 0 22px;
        column-gap: 25%;
        color:white;
        background-color: black;
    }
       
    .footer-img {
        position: absolute;
        top: 25px;
        width: 87px;
        height: 27px;
        align-self: center;
    }
    .footer-columns {
        width: 455px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 73px 0;
    }
    .list {
       width: 99px;
       display: flex;
       flex-direction: column;
       align-items: left;
    }
    .column-title {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;  
    }

    .footer-list-item {
        width: 99px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;  
        margin: 8px 0;
    }
    .subscribe {
        width: 218px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .subscribe-title {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }

    .subscribe form{
        position: relative;
        align-self: center;
    }

    .subscribe input{
        height: 48px;
        width: 218px;
        border-radius: 40px;
        border: none;
        background-color: rgba(255, 255, 255, 0.227);
        padding: 12px 24px;
        margin: 24px 20px;
    }

    .submit-btn {
        position: absolute;
        top: 44px;
        right: 45px;
        width: 13px;
        height: 11px;
    }

    .submit-btn:hover{
        top: 38px;
        right: 35px;
        width: 25px;
        height: 20px;
    }
    .subscribe-text {
        width: 218px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color:rgba(255, 255, 255, 0.551);  
    }
}



/* **************************************** */
/* **************************************** */
/* **************************************** */


@media (min-width: 1024px) and (max-width: 1439px) {

    /* Header ALL */
    header {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 1440px;
        min-width: 100%;
        height: 65px;
        padding: 0 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        z-index: 1;
    }

    .logo {
        height: 27px;
        width: 101px;
    }

    nav {
        width: 320px;
        height: 20px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu_item-link {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 0.1px;
        font-weight: 500;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .action-btn {
        height: 48px;
        width: 100px;
        border: none;
        border-radius: 32px;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        font-family: 'Inter';
        color: white;
        background-color: black;
    }

    /* HERO section */

    .medium-section {
        height: auto;
        width: 100%;
        max-width: 1440px;
        position: relative;
        top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .medium-title {
        width: 630px;
        height: 120px;
        font-family: 'Inter';
        font-size: 56px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: -1px;
        text-align: center;
    }

    .medium-p {
        width: 630px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin: 24px auto;
        text-align: center;
    }

    .btn-text {
        width: 630px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .action-medium {
        height: 40px;
        width: 90px;
        border: none;
        border-radius: 32px;
        padding: auto 24px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        font-family: 'Inter';
        color: white;
        background-color: black;
    }

    .under-action-txt {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        text-align: center;
        margin-left: 20px;
    }

    .medium-section img {
        width: 696px;
        height: 499px;
        border-radius: 12px;
        margin: 68px 0 21px 0;
    }

    /* Features section */

    .features {
        position: relative;
        width: 100%;
        height: 254px;
        top: 65px;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #F3F3F3;
    }

    .feature-box {
        height: 170px;
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-box:nth-child(2) {
        margin: 0 4.9%;
    }

    .feature-ttl {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .feature-profile-photo {
        height: 40px;
        width: 40px;
        background-color: black;
        border-radius: 50%;
        margin: 0 16px 10px 0;
    }

    .feature-box-title {
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: black;
        text-align: center;

    }

    .feature-txt {
        width: 280px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: black;
        text-align: left;
    }

    .headline {
        width: 100%;
        top: 65px;
        left: 0;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        padding: 24px 0;
    }

    .headline>img {
        height: 550px;
        width: 95%;
        max-width: 960px;
        border-radius: 12px;
        margin-bottom: 29px;
    }

    .headline-txt-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .headline-title {
        width: 415.5px;
        font-family: 'Inter';
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.1px;
        text-align: left;
        margin-right: 129px;

    }

    .headline-paragraph {
        width: 415.5px;
        height: 72px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }

    /* Headline Section */

    .headline-list {
        width: 415.5px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
        list-style-type: disc;
        margin-left: 17px;
    }

    .headline-list-item {}

    /* testimonial Section */

    .testimonials {
        width: 100%;
        top: 65px;
        left: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 9px;
        align-items: center;
        justify-content: center;
        padding: 30px 24px;
    }

    .testimonial-box {
        width: 335px;
        display: flex;
        flex-direction: column;
        background-color: #f3f3f3;
        padding: 24px;
    }

    .testimonial-txt {
        width: 292px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .testimonial-profile-p {
        height: 64px;
        width: 64px;
        margin: 56px 0 16px 0;
    }

    .testimonial-name {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .description {
        display: flex;
        flex-direction: row;
        width: 95%;
    }

    .description-txt {
        width: 127.25px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin-right: 170px;
    }

    .fb-icon {
        height: 16px;
        width: 16px;
        margin-right: 16px;
    }

    .twitter-icon {
        height: 16px;
        width: 13px;
    }

    /* Hero Section */

    .hero-action {
        position: relative;
        top: 65px;
        left: 0;
        background-image: url(..//pic/Action--Wide-1440px+ALMG_1440+.jpg);
        background-size: cover;
        width: 100%;
        max-width: 1440px;
        height: 588px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-action::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 1440px;
        height: 588px;
        background-color: rgba(255, 255, 255, 0.199);
    }

    .hero-action-text-wrapper {
        height: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .tagline{
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

    .hero-action-title {
        width: 600px;
        font-family: 'Inter';
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: -0.5px;
        text-align: center;
        margin: 12px 0 31px 0;   
    }

    .hero-action-btn {
        height: 40px;
        width: 84px;
        border-radius: 24px;
        border: none;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        padding: 6px 16px;
        color: black;
        background-color: white;
    }

   /* FOOTER */

    footer {
        position: relative;
        display:flex;
        flex-direction: row;
        top: 65px;
        left: 0;
        height:242px;
        width: 100%;
        padding: 0 22px;
        color:white;
        background-color: black;
    }
       
    .footer-img {
        position: absolute;
        top: 25px;
        width: 87px;
        height: 27px;
        align-self: center;
    }
    .footer-columns {
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 73px 0;
    }
    .list {
       width: 240px;
       display: flex;
       flex-direction: column;
       align-items: left;
    }
    .column-title {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;  
    }

    .footer-list-item {
        width: 99px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;  
        margin: 8px 0;
    }
    .subscribe {
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .subscribe-title {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }

    .subscribe form{
        position: relative;
        align-self: center;
    }

    .subscribe input{
        height: 48px;
        width: 240px;
        border-radius: 40px;
        border: none;
        background-color: rgba(255, 255, 255, 0.227);
        padding: 12px 24px;
        margin: 24px 20px;
    }

    .submit-btn {
        position: absolute;
        top: 44px;
        right: 45px;
        width: 13px;
        height: 11px;
    }

    .submit-btn:hover{
        top: 38px;
        right: 35px;
        width: 25px;
        height: 20px;
    }
    .subscribe-text {
        width: 240px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color:rgba(255, 255, 255, 0.551);  
    }
}